.background-discografia{
    background-image: url(../images/background-discografia.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;

}

// Contenedor para album e informacion

.album-box{
    @include flex-container-nodirection(100%, 100%, 20px 30px, 20px);
    background-color: black;
    border-radius: 10px;
    margin: 5px;
    overflow: auto;
    .album-info-container{
        width: 100%;
        height: 100%;
    }
    .album-title{
        font-family: 'Fontspring-DEMO-proximanovacond-black';
        font-size: 5rem;
        color: white;
    }
    .album-text{
        font-family: 'SchibstedGrotesk-Regular';
        font-size: 18px;
        color: white;

    }

    .album-pic-container{
        width: 100%;
        height: 100%;
    }
    .album-img{
        width: 800px;
        height: 800px;
    }
    .spotify-button{
        align-self: flex-end;
    }
    .spotify-link{
        font-family: 'Fontspring-DEMO-proximanova-bold';
        font-size: 0.8rem;
        text-decoration: none;
        color: white;
    }
}