.background-tour{
    background-image: url(../images/background-tour.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}

.date-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:auto;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 40px 10px;
    place-items: center;

}

.date-item{
    background-image: url(../images/tour-date-card.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: local;
    width: 440px;
    height: 530px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.tour-date{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.tour-city{
    color: white;
    font-family: 'Fontspring-DEMO-proximanovacond-black';
    font-size: 2.5rem;
}

.tour-place{
    color: white;
    font-family: 'Fontspring-DEMO-proximanova-bold';
    font-size: 1rem;
}

.buytickets-link{
    color: white;
    font-family: 'Fontspring-DEMO-proximanova-bold';
    font-size: 1rem;
    padding: 130px 0px;
    text-decoration: none;
}

.video-container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.video-item{
    width: 50%;
    height: 50%;
}
